
<script src="{{ .Site.BaseURL }}js/copycode.js"></script>
<script src="{{ .Site.BaseURL }}js/toc.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>
<script src="{{ .Site.BaseURL }}js/fuse.js"></script>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.4.9/dist/twikoo.all.min.js"></script>
<script src="{{ .Site.BaseURL }}js/twikoo.js"></script>

{{- with .Site.Params.Social -}}
<script>
	feather.replace()
</script>
{{- end -}}