<script src="https://cdn.shuxhan.com/jquery3.6.0.js"></script>
<script src="{{ .Site.BaseURL }}js/copycode.js"></script>
<script src="{{ .Site.BaseURL }}js/toc.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>
<script src="{{ .Site.BaseURL }}js/fuse.js"></script>
<script>
	$("#autoMenu").autoMenu({
		levelOne: 'h2', //一级标题
		levelTwo: 'h3', //二级标题（暂不支持更多级）
		width: 260, //容器宽度
		// height: auto, //容器高度
		// padding: 20, //内部间距
		offTop: 100 //滚动切换导航时离顶部的距离
	});
</script>
{{- with .Site.Params.Social -}}
<script>
	feather.replace()
</script>
{{- end -}}