/* body滚动样式 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.459);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #fff;
}

/* 代码块滚动条样式 */
.highlight pre::-webkit-scrollbar {
    height: 8px;
}

.highlight pre::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #777;
}

.highlight pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #000;
}

.fa {
    vertical-align: middle;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none !important;
}

#TableOfContents::-webkit-scrollbar {
    box-shadow: none;
}

#TableOfContents::-webkit-scrollbar-thumb {
    box-shadow: none;
}

#TableOfContents::-webkit-scrollbar-track {
    box-shadow: none;
}

@font-face {
    font-family: SF Pro Text;
    src: url(https://cdn.jsdelivr.net/gh/Nov8nana/pic-cdn/font/PingFangSC-Medium.woff2);
}

body {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Sans GB', 'Roboto', 'Segoe UI', 'Microsoft Yahei',
        '微软雅黑', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica', 'Arial', 'STHeiti', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 500;
    color: #3b3e48;
    line-height: 1.8em;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    color: #1e90ff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.9;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px dashed #ddd;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

table {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
    margin-bottom: 1rem;
    overflow-x: auto;
    width: 100%;
}

table th,
table td {
    border-bottom: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

table thead th {
    border-bottom: 2px solid #dee2e6;
    vertical-align: bottom;
}

table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

table th {
    background-color: #212529;
    border-color: #32383e;
    color: #fff;
}

textarea {
    resize: vertical;
}

blockquote {
    margin: 0;
    font-style: italic;
    border-left: 3px solid #32383e8e;
    background: #eee;
    padding: 10px 10px;
    padding-left: 20px;
    margin-top: 10px;
}

blockquote p {
    margin: 0;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3em;
    margin: 0 0 20px 0;
    padding-top: 50px;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.post .markdown {
    line-height: 1.8;
    font-size: 1.02rem;
    margin-bottom: 3rem;
    opacity: 1;
}

.post .markdown p {
    margin-bottom: 0;
}

.post .markdown ol,
.post .markdown ul {
    padding-left: 20px;
}

.post .markdown table {
    margin: 0;
    margin-top: 10px;
}

.post .markdown img {
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.post .markdown code {
    background: #00000080;
    color: #fff;
    font-family: source code pro, Consolas, Monaco, Menlo, Consolas, monospace;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 2px 5px;
    word-break: break-word;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    color: inherit;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.highlight pre code {
    background: none !important;
    font-size: 0.9rem;
    padding: 0 !important;
    opacity: 1 !important;
}

.highlight {
    font-size: 0.8em;
    position: relative;
    margin-top: 10px;
}

.highlight .highlight-copy-btn {
    position: absolute;
    top: 4px;
    right: 6px;
}

.main {
    margin: 80px auto 0;
    max-width: 1100px;
}

.section {
    padding: 0 20px;
    flex: 1;
    max-width: 800px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

.main .sidebar {
    width: 300px;
    margin-left: 20px;
    padding-top: 27px;
}

.main .sidebar .links {
    padding: 0;
    list-style: none;
    display: flex;
}

.main .sidebar .links li {
    margin-right: 14px;
}

.main .sidebar .links a {
    color: #333;
}

.main .sidebar .links a i.fa {
    font-size: 20px;
}

.sidebar h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 10px;
    padding: 0;
    color: rgba(62, 59, 63, 0.9);
    border-bottom: 1px solid #ddd;
}

.sidebar-about-p {
    margin-top: 6px;
}

.sidebar-about-p p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.6;
}

.related-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.related-content ul a {
    color: #2c2c3b;
    display: block;
    padding: 4px 0 0;
    line-height: 1.4;
    margin-bottom: 10px;
}

.related-content ul a:hover {
    text-decoration: none;
    color: #4183c4;
}

.related-content ul a .day {
    opacity: 0.8;
    font-size: 12px;
}

#hot-comments {
    padding: 0;
    list-style: none;
}

#hot-comments li {
    border-bottom: 1px dashed #d3d3d3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#hot-comments li .name a {
    font-weight: 500;
    color: #000;
    font-size: 15px;
}

#hot-comments li .name span {
    font-size: 14px;
    padding-left: 10px;
}

#hot-comments li .content {
    font-size: 15px;
    display: block;
    color: #333;
}

#hot-comments li .content:hover {
    text-decoration: none;
    opacity: 0.9;
    color: #1e90ff;
}

header {
    width: 100%;
    box-shadow: 0 0 10px rgb(14 14 14 / 26%);
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    z-index: 99;
}

.header {
    margin: 0 auto;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    padding: 0 10px;
    box-sizing: border-box;
}

.header .avatar {
    float: left;
    margin: -25px 20px 0 0;
}

.header .avatar img {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 100%;
}

.header .site-title {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.site-title a {
    color: #3b3e48;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 100%;
}

.site-title a span {
    display: inline-block;
    background: #000;
    color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 4px 6px;
}

.site-title a img {
    height: 100%;
}

.site-title a:hover {
    border-bottom-width: 3px;
    color: #000;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav {
    border-top: 1px solid #eee;
    position: relative;
}

.header nav ul,
.header nav li {
    margin: 0;
    padding: 0;
}

.header nav li {
    display: inline-block;
    list-style: none;
    margin: 0 16px 0 0;
    padding: 10px 4px;
}

.header nav li a {
    position: relative;
    color: #3b3e48;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.header nav li a:hover {
    color: #000;
    text-decoration: none;
}

.header nav li a::after {
    display: none;
    content: '';
    width: 100%;
    height: 2px;
    background: #999;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.header nav li a:hover::after {
    display: block;
}

.nav-menu {
    display: none;
}

.header nav.social a {
    color: #333;
}

.header nav.social a:hover {
    color: #3700ff;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle {
    height: 100%;
}

.header .site-description .scheme-toggle a svg {
    max-height: 15px;
}

.header .site-description .scheme-toggle a.dark svg {
    fill: #f8e04f;
    color: #f8e04f;
}

.header .site-description .scheme-toggle a.light svg {
    fill: grey;
    color: black;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-top: 36px;
}

.recent-posts .posts .post a {
    color: #333;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    font-weight: 600;
    font-size: 1.25rem;
}

.recent-posts .posts .post a:hover {
    color: #000;
}

.post-header {
    display: flex;
}

.post-header .meta .date {
    margin-right: 30px;
    margin-top: 14px;
    text-align: center;
}

.post-header .meta .date .day {
    line-height: 0.45em;
    font-size: 3em;
    display: block;
    margin-bottom: 20px;
    color: #111827;
}

.post-header .meta .date .list-time {
    font-size: 1rem;
    font-weight: 400;
}

.post-header .meta .date .rest {
    display: block;
    font-size: 0.75em;
    color: #111827;
}

.posts-header {
    display: block;
    padding-bottom: 0 !important;
    margin: 20px 0 20px !important;
    border-bottom: 1px solid #ddd;
}

.post-header h1.title {
    padding: 0;
    margin: -10px 0 0 0;
    font-weight: 600;
    font-size: 1.4rem;
    color: #333;
}

.post-time {
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
    opacity: 0.8;
}

.post .posts-header {
    padding-bottom: 10px;
}

.post .title.small {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.post .post-header {
    margin-bottom: 0;
}

.post .post-header .img-fluid {
    margin-top: 5px;
    margin-right: 10px;
    max-width: 200px;
    max-height: 110px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.post .post-header .img-fluid:hover {
    opacity: 0.8;
}

.post .post-header .post-mater {
    display: flex;
    flex-wrap: wrap;
}

.post .post-header .post-mater p {
    margin-right: 10px;
    font-size: 0.9rem;
    margin-bottom: 0;
    opacity: 0.8;
}

.post-list .post-header {
    margin-bottom: 10px;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: 1px #7d828a dashed;
}

.post-list .title.small {
    font-weight: 500;
    font-size: 1.04rem;
    padding: 0;
}

.post-list .title.small a {
    color: #000;
    font-weight: 500;
    opacity: 0.9;
}

.post-list .title.small a:hover {
    color: #000;
}

.post .post-header .matter {
    font-size: 0.9rem;
    line-height: 1.625;
    word-break: break-all;
    flex: 1;
}

.post .post-header .matter .description {
    font-size: 0.95rem;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.post .post-header .matter .day {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-align: right;
}

.post .draft-label {
    color: #3700ff;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post .tags a {
    display: inline-block;
    border-radius: 3px;
    padding: 8px 16px;
    color: #fff;
    background: #34495e;
    line-height: 16px;
    font-size: 0.85em;
    text-decoration: none;
    margin: 0 10px 0 0;
}

.post .tags a:hover {
    background: rgba(52, 73, 94, 0.9);
}

.page-title {
    display: block;
    margin: 10px 0 20px 0;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgb(48, 48, 48);
    padding: 0;
    line-height: 1.3em;
}

.list .posts .post-header .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    font-size: 0.96rem;
    color: #999;
    border-top: 1px solid #f4f4f4;
    margin-top: 40px;
    padding: 15px 10px;
    max-width: 800px;
    margin: 0 auto;
}

.footer a {
    color: #666;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 30px auto;
    text-align: center;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 5px 2px;
}

.pagination li a {
    display: block;
    color: #000;
    background: #ddd;
    width: 40px;
    height: 34px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }

    .header .nav.social li {
        margin: 0;
    }

    .header .nav li {
        margin: 0 10px 0 0;
    }

    table {
        -ms-overflow-style: -ms-autohiding-scrollbar;
        -webkit-overflow-scrolling: touch;
        display: block;
        overflow-x: auto;
        width: 100%;
    }

    .post-list .title.small {
        font-size: 1.1rem;
    }
}

.tag-li {
    display: inline !important;
}

.back {
    padding-top: 1em;
    font-size: 1em;
}

.inline-img {
    margin: 0 0 0 0 !important;
    max-width: 100%;
    display: inline-block !important;
}

.figcaption-img {
    margin-bottom: 0px;
}

figcaption {
    font-size: 0.9rem;
    display: block;
    text-align: center;
    color: gray;
}

.top-btn {
    position: fixed;
    right: 40px;
    bottom: 60px;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
    display: none;
    opacity: 0;
    height: 40px;
    justify-content: center;
    transition: all .4s ease;
    width: 40px;
    z-index: 1;
}

.top-btn-show {

    display: block;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.top-btn-hide {
    animation-name: hide;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes show {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

.top-btn:hover {
    cursor: pointer;
    background: #c1c1c1;
}

.top-btn div {
    position: relative;
    width: 100%;
    height: 100%;
}

.top-btn div i {
    position: absolute;
    top: 18px;
    background: #666;
    width: 16px;
    height: 2px;
}

.top-btn div i:nth-child(1) {
    transform: rotate(-45deg);
    left: 7px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.top-btn div i:nth-child(2) {
    transform: rotate(45deg);
    right: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.iframe {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .post .title.small {
        display: block;
    }

    .header nav ul {
        display: none;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 8px;
        right: 0;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }

    .nav-menu span {
        display: block;
        width: 30px;
        height: 3px;
        background: #4d6781;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }

    .nav-menu-open {
        right: -6px;
    }

    .nav-menu-open span:nth-child(2) {
        display: none;
    }

    .nav-menu-open span:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
        -webkit-transform: rotate(45deg) translateY(10px);
        -moz-transform: rotate(45deg) translateY(10px);
        -ms-transform: rotate(45deg) translateY(10px);
        -o-transform: rotate(45deg) translateY(10px);
    }

    .nav-menu-open span:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
        -webkit-transform: rotate(-45deg) translateY(-11px);
        -moz-transform: rotate(-45deg) translateY(-11px);
        -ms-transform: rotate(-45deg) translateY(-11px);
        -o-transform: rotate(-45deg) translateY(-11px);
    }

    .header nav ul.nav-menu-ul {
        display: flex;
        position: fixed;
        top: 50px;
        width: 100%;
        left: 0;
        background: #fff;
        flex-direction: column;
        box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    }

    .header nav ul.nav-menu-ul a {
        display: block;
        text-align: center;
    }
}

.section {
    animation-name: posts;
    animation-duration: 0.8s;
}

@keyframes posts {
    0% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

#fastSearch {
    visibility: hidden;
    position: absolute;
    right: 54px;
    top: 4px;
    display: inline-block;
    width: 320px;
    margin: 0 10px 0 0;
    padding: 0;
    z-index: 9;
}

#fastSearch input {
    padding: 4px;
    width: 100%;
    height: 31px;
    font-size: 1em;
    color: #000;
    background: #e0e0e0;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
    text-align: left;
    display: inline-block;
}

#fastSearch ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#searchResults li {
    width: 100%;
    padding: 0;
    list-style: none;
    margin-left: 0em;
    background: #e0e0e0;
    border-bottom: 1px dotted #465373;
}

#searchResults li .title {
    font-size: .9em;
    margin: 0;
    display: inline-block;
}

#searchResults {
    visibility: inherit;
    display: inline-block;
    width: 328px;
    margin: 0;
    overflow: hidden;
}

#searchResults a {
    text-decoration: none !important;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

#searchResults a:hover,
#searchResults a:focus {
    outline: 0;
    background: #333;
    color: #fff;
}

#search-btn {
    position: sticky;
    font-size: 20px;
}

@media (max-width:1000px) {
    .main {
        display: block;
    }

    .main .sidebar {
        display: none;
    }
}

@media (max-width:768px) {

    .search-menu {
        text-align: center;
    }

    #fastSearch {
        top: 0;
        right: 0;
        width: 100%;
        margin-right: 0;
    }

    #fastSearch ul {
        margin-top: 40px;
    }

    #searchResults {
        width: 100%;
    }
}

@media(max-width:500px) {
    .post .post-header {
        display: block;
    }

    .recent-posts .posts .post {
        border-bottom: 1px dashed #d3d3d3;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .post .post-header .img-fluid {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }
}

/*Preloader*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}

.preloader:before,
.preloader:after {
    content: '';
    border: 5px solid #D19A04;
    width: 80px;
    height: 80px;
    border-radius: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}

.preloader:before {
    -webkit-animation: pulse-outer 0.8s ease-in infinite;
    -moz-animation: pulse-outer 0.8s ease-in infinite;
    animation: pulse-outer 0.8s ease-in infinite;
}

.preloader:after {
    -webkit-animation: pulse-inner 0.8s linear infinite;
    -moz-animation: pulse-inner 0.8s linear infinite;
    animation: pulse-inner 0.8s linear infinite;
}

@-webkit-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-moz-keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@keyframes pulse-outer {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-moz-keyframes pulse-inner {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -moz-transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes pulse-inner {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        filter: alpha(opacity=0);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}