.sidebar .autoMenu {
	width: 260px !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	box-sizing: border-box;

	height: 0;
	z-index: 9;
}

.autoMenu .mulu {
	margin: 0;
	padding: 0;
	font-weight: 400;
	padding: 9px 18px;
	border-bottom: 1px solid #d3d3d3;
}

.autoMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	max-height: 600px;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.autoMenu ul::-webkit-scrollbar {
	width: 0;
	background: #fff;
}

.autoMenu ul::-webkit-scrollbar-thumb {
	background: #ffffff33;
}

.autoMenu ul li {
	padding: 4px 9px;
}

.autoMenu ul li a {
	color: #1f2937;
	text-decoration: none;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.autoMenu ul li.sub {
	padding-left: 14px;
	font-size: 14px;
}

.autoMenu ul li.active {
	background: #dbe8f5;
}

@media (max-width:1240px) {
	.autoMenu {
		width: 100% !important;
	}
}