.twikoo .el-textarea__inner {
  min-height: 100px !important;
}

.twikoo .tk-tag[data-v-d82ce9a0] {
  display: inline !important;
  padding: 0.2em 0.5em !important;
}

.twikoo img {
  display: inline !important;
  margin: 0;
  vertical-align: bottom !important;
}

.twikoo a:hover {
  cursor: pointer;
  opacity: 0.9;
}