<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>{{ partial "header.html" . }}

  <div class="main list">
    {{ partial "sidebar.html" . }}
    <div class="section">
      {{ if isset .Data "Term" }}
      <span class="page-title">{{ .Data.Term }}</span>
      {{ else }}
      <span class="page-title">{{ .Name }}</span>
      {{ end }}

      <ul class="tags">
        {{ range .Site.Taxonomies.tags }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} {{ .Count }}</a></li>
        {{ end }}
      </ul>
      <br>
      <span class="page-title">分类</span>
      <ul class="tags">
          <li><a href="">编程技术</a></li>
          <li><a href="">生活随笔</a></li>
      </ul>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>