<div class="sidebar">

  <!-- 关于我 -->
  <div class="sidebar-about">
    <h4>About Me</h4>
    <div class="sidebar-about-p">
      <p>Nov8nana</p>
      <p>路漫漫其修远兮，吾将上下而求索！这是我的个人博客，记录一些琐事和笔记。</p>
      <ul class="links">
        <li><a target="_blank" href="https://github.com/Nov8nana"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:shuxhan@163.com"><i class="fa fa-envelope"></i></a></li>
        <li><a target="_blank" href="/index.xml"><i class="fa fa-rss"></i></a></li>
        <li><a target="_blank" href="https://img.shuxhan.com"><i class="fa fa-picture-o"></i></a></li>
      </ul>
    </div>
    <a href="/about">more ></a>
  </div>

  <!-- 相关文章 -->
  {{ $related := (where site.RegularPages "Type" "in" site.Params.mainSections).Related . | first 5 }}
  {{ with $related }}
  <div class="related-content">
    <h4>相关文章</h4>
    <ul>
      {{ range . }}
      <li>
        <a href="{{ .RelPermalink }}">
          <span>{{ .Title }}</span>
          <span class="day">({{ dateFormat "2006-01-02" .Date }})</span>
        </a>

      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  <!-- 最近评论 -->
  <div>
    <h4>最近评论</h4>
    <ul id="hot-comments"></ul>
  </div>

  <!-- 目录 -->
  <div class="autoMenu" id="autoMenu" data-autoMenu>

  </div>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/toc.css" />


</div>